@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */

body {
  font-family: Roboto, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/** Overrides underline color **/
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-ripple {
  background-color: rgb(219, 23, 23);
}

/** Overrides label color **/
.mat-form-field-appearance-outline .mat-form-field-label,
.my-form-field.mat-form-field-appearance-outline.mat-focused
  .mat-form-field-label {
  color: #f47e47;
}

/** Overrides caret & text color **/
.my-form-field.mat-form-field-appearance-legacy .mat-input-element {
  caret-color: rgb(221, 26, 26);
  color: rgb(216, 14, 14);
}
